<mat-nav-list>
  <a
    mat-list-item
    *ngIf="
      router.url.startsWith('/employees/') ||
      router.url == '/' ||
      router.url.startsWith('/job')
    "
    routerLink="/employees"
    (click)="onClose()"
  >
    <!-- Add icons if you want -->
    <span class="nav-caption">Employees</span>
  </a>
  <a
    mat-list-item
    *ngIf="router.url.startsWith('/apply') || router.url == '/'"
    routerLink="/apply"
    (click)="onClose()"
  >
    <!-- Add icons if you want -->
    <span class="nav-caption">Applications</span>
  </a>
  <a
    mat-list-item
    *ngIf="router.url.startsWith('/delivery') || router.url == '/'"
    routerLink="/delivery"
    (click)="onClose()"
  >
    <!-- Add icons if you want -->
    <span class="nav-caption">Deliveries</span>
  </a>
  <a
    mat-list-item
    *ngIf="router.url.startsWith('/volunteer') || router.url == '/'"
    routerLink="/volunteer"
    (click)="onClose()"
  >
    <!-- Add icons if you want -->
    <span class="nav-caption">Volunteers</span>
  </a>
  <a
    mat-list-item
    *ngIf="router.url.startsWith('/donor') || router.url == '/'"
    routerLink="/donor"
    (click)="onClose()"
  >
    <!-- Add icons if you want -->
    <span class="nav-caption">Donors</span>
  </a>
  <a
    mat-list-item
    *ngIf="router.url.startsWith('/donor')"
    routerLink="/donation"
    (click)="onClose()"
  >
    <span class="nav-caption"> Donations </span>
  </a>
  <a
    mat-list-item
    *ngIf="
      router.url.startsWith('/employees') || router.url.startsWith('/job/')
    "
    routerLink="/job"
    (click)="onClose()"
  >
    <span class="nav-caption"> Jobs </span>
  </a>
  <a
    mat-list-item
    *ngIf="router.url.startsWith('/volunteers')"
    routerLink="/province"
    (click)="onClose()"
  >
    <span class="nav-caption"> Province </span>
  </a>
  <mat-list-item *ngIf="router.url !== '/'">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
