<mat-toolbar color="accent">
  <!-- implement sidenav from angular material for mobile -->
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <ul fxLayout fxLayoutGap="25px" class="navigation-items">
      <li *ngIf="router.url !== '/login'">
        <a routerLink="/home">Home</a>
      </li>
    </ul>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="25px" class="navigation-items">
      <li
        *ngIf="
          router.url.startsWith('/employees/') ||
          router.url == '/home' ||
          router.url.startsWith('/job')
        "
      >
        <a routerLink="/employees">Employees</a>
      </li>
      <li *ngIf="router.url.startsWith('/apply') || router.url == '/home'">
        <a routerLink="/apply">Applications</a>
      </li>
      <li *ngIf="router.url.startsWith('/volunteer') || router.url == '/home'">
        <a routerLink="/volunteer">Volunteers</a>
      </li>
      <li *ngIf="router.url.startsWith('/donor') || router.url == '/home'">
        <a routerLink="/donor">Donors</a>
      </li>
      <li *ngIf="router.url.startsWith('/delivery') || router.url == '/home'">
        <a routerLink="/delivery">Deliveries</a>
      </li>
      <li *ngIf="router.url.startsWith('/donor')" routerLink="/donation">
        <a>Donations</a>
      </li>
      <li
        *ngIf="
          router.url.startsWith('/employees') || router.url.startsWith('/job/')
        "
      >
        <a routerLink="/job">Jobs</a>
      </li>
      <li *ngIf="router.url.startsWith('/volunteers')">
        <a routerLink="/province">Province</a>
      </li>
      <li *ngIf="router.url !== '/' && router.url !== '/login'">
        <a style="cursor: pointer" routerLink="/login" (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>
