<section class="login">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #loginForm="ngForm"
    (ngSubmit)="login()"
  >
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="username"
        [(ngModel)]="userName"
        name="username"
        username
        required
        #usernameInput="ngModel"
      />
      <mat-error *ngIf="usernameInput">Field must not be empty</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Should be atleast 4 characters long">
      <input
        type="password"
        matInput
        placeholder="Your password"
        [(ngModel)]="passwords"
        name="password"
        required
        minlength="4"
        #pwInput="ngModel"
      />
      <mat-hint align="end">{{ pwInput.value?.length }} / 8</mat-hint>
      <mat-error>Has to be atleast 4 characters long</mat-error>
    </mat-form-field>

    <div [hidden]="!invalidLogin" class="alert alert-danger">
      Incorrect Credentials
    </div>

    <button
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="loginForm.form.invalid"
    >
      Login
    </button>
  </form>
</section>
