<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section>
    <h1>Home screen</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nam quod
      laudantium accusantium nostrum dolorem modi eum nobis accusamus sapiente
      voluptate nulla inventore rerum, vitae amet iste impedit harum porro!
      Commodi repellat dolorem debitis cumque nam quae corporis facilis veniam
      impedit quos vel, amet quam ratione perspiciatis aliquam qui quod
      accusantium? Quaerat tempore illum aut aperiam possimus, aspernatur
      exercitationem debitis. Explicabo doloremque neque illum qui minus magni
      eligendi officia omnis harum maxime expedita quaerat perspiciatis facilis,
      necessitatibus pariatur voluptatum saepe suscipit laborum consequatur!
      Consequuntur hic ducimus modi beatae excepturi nobis. Error deleniti totam
      voluptas unde? Adipisci unde molestiae illo tempora harum fugit excepturi
      magni ducimus quidem pariatur. Laborum veritatis, provident dolores magnam
      quisquam rerum voluptates! Similique ipsum aliquid vitae iste? Qui
      repellat assumenda odio cupiditate quasi obcaecati inventore consequuntur
      earum repellendus illo voluptate placeat dolorem explicabo, fugit numquam
      tempore. Cupiditate, illo? Veniam itaque esse facilis? In, perspiciatis
      error! Delectus, reprehenderit?
    </p>
  </section>
  <!-- <section>
    <p>
      <br />
      add image or something here as well....
    </p>
  </section> -->
</div>
